<div class="greetings">
  <li>
    <div class="sender"><%=User.find_by(id: greeting.user_id).username %>: </div> 
    <div class="greeting-body">"<%= greeting.body %>"</div>
    <div class="timestamp"><%= time_ago_in_words(greeting.created_at) %> ago.</div>
  </li>
</div>
