body{
  background-color: #E6E6E6;
}

#logo {
  font-family: "Lobster";
  font-size: 10em;
  text-align: center;
}

#logo a {
    color: #9B2B2B;
    text-shadow: 3px 3px 8px black;
}

a {
  color: #9B2B2B;
}

p {
  font-family: "Raleway";
}

h2 {
  font-family: "Lobster";
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  clear: both;
}

h3 {
  font-family: "Arvo";
  text-align: center;
  font-size: 1.7em;
  padding-bottom: 10px;
  padding-top: 10px;
  clear: both;
}

#main {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #C4C4C4;
  color: black;
  font-size: .8em;
  text-align: center;
}
